<nav class="navbar navbar-expand-lg bg-dark">
	<div class="container-fluid d-flex">
		<div class="collapse justify-content-center navbar-collapse" id="navbarSupportedContent">
			<div class="navbar-nav">
				<a class="nav-link mx-5 ms-lg-0" href="">
					Projets</a>
				<a class="nav-link mx-5 ms-lg-0" href="#aboutme">
					Formation</a>
				<a class="nav-link mx-5 ms-lg-0" href="">
					Contact</a>
			</div>
		</div>
	</div>
</nav>
